<ul class="social-media-list">
  {%- if site.twitter_username -%}<li>
    <a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}">
      <img height="24" width="24" src="{{ '/assets/twitter.svg' }}" alt="Twitter" />
    </a>
  </li>{%- endif -%}
  {%- if site.linkedin_username -%}
  <li>
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">
      <img height="22" width="22" src="{{ '/assets/linkedin.svg' }}" alt="LinkedIn" />
    </a>
  </li>{%- endif -%}
  {%- if site.github_username -%}<li>
    <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
      <img height="24" width="24" src="{{ '/assets/github.svg' }}" alt="GitHub" />
    </a>
  </li>{%- endif -%}
  {%- if site.instagram_username -%}<li>
    <a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}">
      <img height="24" width="24" src="{{ '/assets/instagram.svg' }}" alt="Instagram" />
    </a>
  </li>{%- endif -%}
  <li>
    <a href="{{ '/feed.xml' | relative_url }}">
      <img height="20" width="20" src="{{ '/assets/rss.svg' }}" alt="RSS" />
    </a>
  </li>
</ul>